extends baseEmail

block content
	p Hi #{name},
	p Vous avez oublié votre mot de passe ? Modifiez le ici : ${url}.
	p Si ce message ne vous est pas adressé, merci de l'ignorer.


	table.btn.btn-primary(role="presentation" border="0" cellpadding="0" cellspacing="0")
		tbody
			tr
				td(align="left")
					table(role="presentation" border="0" cellpadding="0" cellspacing="0")
						tbody
							tr
								td
									a(href=`${url}` target="_blank") Réinitialiser votre mot de passe
	p Si vous avez besoin d'aide avec notre API, contactez nous !
	p Tom Pomarede - CEO